.header{
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: contain;
  height: 650px;
  background-repeat: no-repeat;
}
.headertxt{
  padding-top: 150px;
  
}
.headertxt h1{
  color: white;
  padding-top: 45px;
}
.headertxt p{
  color: white;
  padding-bottom: 140px;
}
.service{
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover; 
  height: 300px;
  background-repeat: no-repeat;
}
.service h2{
  color: white;
  padding-top: 80px;
}
.service p{
  color: white;
}
.porfolio{
  padding: 25px;
  margin: 145px;
  
}
#port1{
  border: white solid 20px;
  background-image: url("../images/portfolio/work4.jpg");
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: contain; */
}
#port2{
  border: white solid 20px;
  background-image: url("../images/portfolio/work3.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.port3{
  border: white solid 20px;
  background-image: url("../images/portfolio/work2.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.port4{
  border: white solid 20px;
  background-image: url("../images/portfolio/work1.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.port5{
  border: white solid 20px;
  background-image: url("../images/portfolio/work5.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.port6{
  border: white solid 20px;
  background-image: url("../images/portfolio/work6.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.port7{
  border: white solid 20px;
  background-image: url("../images/portfolio/work7.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.port8{
  border: white solid 20px;
  background-image: url("../images/portfolio/work8.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.footer{
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: contain;
  height: 650px;
  background-repeat: no-repeat;
}
#Name
{
  background: transparent !important;
}
#Email
{
  background: transparent !important;
}
#textbox
{
  background: transparent !important;
}
.form-control::-webkit-input-placeholder {
  color: white;
}